.option-container {
    color:black;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.option-container .text-change-container{    
    background-color: #f0f0f0;
    min-width: 300px;
    width: fit-content;
    height: fit-content;
    min-height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto;
    border-radius: 6px;
    padding: 8px 8px;
    box-shadow: #6664643d 2px 0px 2px 0px;
}
