<div>
  <div class="action-crud-container">
    <!-- <button class="action-test-btn" (click)="saveTest()">Add</button> -->
    <button 
      class="action-test-btn"
      *ngIf='isOnEditMode'
      (click)="saveTestAction()">Actualizar</button>
    <button 
      class="action-test-btn"
      *ngIf='isOnEditMode'
      (click)="cancelEditMode()">Cancelar</button>
    <button
      class="action-test-btn"
      *ngIf='!isOnEditMode'
      (click)="editMode()">Editar</button>
  </div>

  <!-- only show mode -->
  <div class='questions-container height-width100'  *ngIf='!isOnEditMode'>    
      <div class='title-test width100' [ngClass]="{'edit-border':false}">
        <app-text-editor
          [questionText]='questionary.title'          
          [fontSize]="22"></app-text-editor>
      </div>
    
    <div class='question-list width100'>      
      <div class='question float-left width100' *ngFor="let question of questionary.questions, let i = index">
        <app-question [question]='question'></app-question>
      </div>
    </div>
  </div>

  <!-- only edit mode -->
  <div class='questions-container height-width100' *ngIf='isOnEditMode'>    
    <div class='title-test width100' [ngClass]="{'edit-border':true}">
      <app-text-editor
        (changeQuestion)='changeTitleReceive($event)'
        [questionText]='questionaryToEdit.title'          
        [fontSize]="22"
        [editionMode]='true'></app-text-editor>
    </div>
  
    <div class='question-list width100'>      
      <div class='question float-left width100' *ngFor="let questionEdit of questionaryToEdit.questions, let i = index">
        <div class="rm-container-btn">
          <button title="Eliminar Pregunta" class="rm-btn" *ngIf='true' (click)="removeQuestion(i)">X</button>
        </div>
        <app-question
          [question]='questionEdit'
          [isOnEditMode]='true'></app-question>
      </div>
    </div>
  </div>
  
  <div class="action-bottom-container">  
    <button 
      class="action-test-btn"
      *ngIf='isOnEditMode'
      (click)="addQuestion()"
      style="margin-bottom: 10px;">+Question</button>
  </div>
</div>