<div>
  <input id='{{"loaderUnique"+id}}' [hidden]="true" accept=".xls,.xlsx,image/png, image/jpeg" type="file" name="imgUploader" ngModel value="Upload" (change)="uploadImage($event)">
  <div *ngIf='!isloadFileMode'>
    
    <div class='small-img-container' (dblclick)="toogleFullImage()">
      <label *ngIf='editionMode' class='label-loader' for='{{"loaderUnique"+id}}'>{{ fileName || 'cargar imagen'}}</label>
      <img *ngIf="previewData" src="{{previewData}}" class='img-data' [ngClass]='{moveTop:editionMode}'>
    </div>
    <button *ngIf='editionMode' class='btn-upload' (click)='sendFile()'>Subir Imagen</button>
  </div>

  <div *ngIf='isloadFileMode'>
    <div *ngIf='!editionMode' class='up-file-attacher'>
      <label *ngIf="previewData" class='label-fileicon-loader' >
          <img src="./../../../assets/addStudent.png" class='img-filedata' >
      </label>
      <label  class='label-file-loader' for='{{"loaderUnique"+id}}'>{{ fileName }}</label>
    </div>
    <div *ngIf='editionMode' class='up-file-attacher'>
      <label class='label-fileicon-loader' >
          <img src="./../../../assets/addStudent.png" class='img-filedata' >
      </label>      
      <label class='label-file-loader' for='{{"loaderUnique"+id}}'>{{ fileName || 'cargar Archivo'}}</label>
      <button class='btn-file-upload' (click)='sendFile()'>Subir Archivo</button>  
    </div>
  </div>

  <div (dblclick)="toogleFullImage()" class='full-image' [ngClass]='{"hide-mode": fullMode===false}'>
    <div class='full-img-container'>
      <img src="{{previewData}}" class='img-data'>
    </div>
  </div>
</div>