<div class='menu-list'>
  <div class='item-menu'>
    <div class='text-menu'>
        Cursos
    </div>
    <div class='icon-class icon-cursos'></div>
  </div>
  <div class='item-menu'>
      <div class='text-menu'>
          Examenes
      </div>
      <div class='icon-class icon-examenes'></div>
  </div>
  <div class='item-menu'>
      <div class='text-menu'>
          Practicas
      </div>
      <div class='icon-class icon-practicas'></div>
  </div>
  <div class='item-menu'>
      <div class='text-menu'>
          Auto-Evaluacions
      </div>
      <div class='icon-class icon-autoeval'></div>
    </div>
</div>
