.question-container {
    height: 200px;
    height: auto;
    width: 100%;    
    border: solid 3px rgba(163,62,49,0.2);
    border-radius: 6px;
    padding: 2px;
    box-sizing: border-box;
    margin: 6px;
}

.question-container:hover {
    box-shadow: rgba(0,0,0,0.4) 1px 1px 20px 0px;
    
}

.text-question-cont {
    padding: 6px;
}

.question-container .container-imgs .intern-img-container:hover{
    background-color: rgba(163,62,49,0.05);
    border: solid rgba(163,62,49,0.4) 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 2px rgba(0,0,0,0.2);
}

.btn-rm-option {
    float: left;
    position: relative;    
    border-radius: 50%;    
    text-align: center;
    
    background-color: rgba(163,62,49,1);
    top: 5px;
    left: 65px;
    width: 22px;
    height: 22px;
    color: #fff;
    font-weight: 900;
    line-height: 12px;
    border:none;
}

.btn-rm-option:hover {
    background-color: #ACBDD6;
    border: solid rgba(163,62,49,0.4) 1px;
    color: #A33E31;
}
.add-container {
    background-color: #e0e0e0;
    height: 102px !important;
    border-radius: 4px;
    width: 102px;
    margin-left: calc(50% - 50px);
}
.btn-add-option {
    background-color: #A33E31;
    color: #fff;
    font-weight: 900;
    float: left;
    position: relative;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center
}
.question-text {
    background-color: #fff;
    width:100%;
    height: auto;
    border: none;
    padding: 4px 10px;
    resize: none;
    /* overflow-y: hidden; */
    box-sizing: border-box;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.container-imgs {
    display : block;
    margin: 10px 0;
    height: 102px;
    width: 100%;
    box-sizing: border-box;
}
.intern-img-container{
    box-sizing: border-box;    
    min-width: 250px;
    float: left;
    margin-top: 5px;
}

/* .edit-border {
    border: dashed rgba(163,62,49,0.6) 1px;
} */
.option-img { 
    float: left;
    height: auto;
    margin-top: 10px;
    box-sizing: border-box;
}

.selected-option {
    border-radius: 6px; 
}

.check-select {
    position: relative;
}

.selected-option::after {
    content: "L";
    font-size: 40px;
    font-weight: 900;
    margin-left: -10px;
    margin-top: 59px;
    position: absolute;
    -webkit-transform: rotate3d(-1.1, 4.3, 0.2,180deg);
    transform: rotate3d(-1.1, 3, 0,180deg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(39, 241, 29,1);
    z-index: 1;
}

.label-text-option {
    cursor: pointer;
    color: black;
}

.check-option{
    visibility: hidden;
    width: 0px;
}

.option-text {
    width: 200px;   
    /* modify here for option text */
    float: left;
    position: relative;    
    border-radius: 4px;
    /* background-color: #ACBDD6; */
    height: auto;
    color: #fff; 
    padding: 6px; 
}

.div-editable {
    outline: 0;
    height: auto;
    width: auto;
    padding: 4px 4px;
    pointer-events: inherit;
    background-color: #f0f0f0;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.div-editable:hover {
    box-shadow: 1px 1px 2px 0px black;
}

.no-edit {
    pointer-events: none;
}

.div-editable:focus {
    outline: 2px dashed #000;
    background-color: #fff;
    white-space: pre;
}