<div class='question-container' [ngClass]="{'edit-border':isOnEditMode}">
    <div>{{loadedFileName}}</div>
    <app-modal (closeEmitter)='onCloseOptionChangerReceiver($event)' [isVisible]='isChangingOption' [textInput]="currentOptionText"></app-modal>
    <div class="container-imgs">
        <div *ngFor="let option of question.options; let i = index" >
            <div [ngClass]="{'edit-border':isOnEditMode}" class="intern-img-container" imgSpreadDirective [items]="getCounterOptions(isOnEditMode)">
                <button 
                    title="Eliminar Opcion"
                    class="btn-rm-option"
                    *ngIf='isOnEditMode'
                    (click)="removeOption(i)">X</button>       
                <div class="option-img">
                    <div class="check-select" [ngClass]='{"selected-option": isOptionSelected(i, option._id)}' *ngIf='isOptionSelected(i, option._id)'></div>
                    <div class="check-select" *ngIf='isOnEditMode' [ngClass]='{"notselected-option": !isOptionSelected(i, option._id)}' (click)='selectOption($event,i,option._id)' ></div>
                    <app-attacher
                        [srcImage]='getFullUrl(option.attachment)'                
                        (sendFileOut)='receivingData($event, i)'
                        [editionMode]='isOnEditMode' [id]='option._id'>
                    </app-attacher>
                    <div class="option-text" >
                        
                        <label class="label-text-option">
                            <div [ngClass]="{'no-edit':!isOnEditMode}" 
                                class="div-editable"
                                (focusout)="onChangeOptionText($event, i)"
                                aria-multiline="true"
                                contenteditable="plaintext-only">{{ option.text }}</div>

                        </label>
                        <input id="{{option._id}}"                             
                            (change)="selectOption($event,i,option._id)"
                            name="{{question._id}}" 
                            type="radio" 
                            class="check-option">
                    </div>
                    
                </div>
            </div>
        </div>
        <div *ngIf="isOnEditMode" class="intern-img-container">
            <div class="option-img add-container">
                <button class="btn-add-option"(click)="addNewOption()">+</button>
            </div>
        </div>
    </div>
    <!-- modify here -->
    <div class='text-question-cont'>
        <app-text-editor
            (changeQuestion)='changeQuestionReceive($event)'
            [questionText]='question.questionText'
            [fontSize]="18"
            [editionMode]='isOnEditMode'></app-text-editor>
    </div>
</div>
