<div class='question-container'>
    <div>{{loadedFileName}}</div>
    <app-attacher
    [srcImage]='option.attachment'
    *ngFor="let option of question.options" 
    (sendFileOut)='receivingData($event)' 
    [editionMode]='false' [id]='option._id'>
</app-attacher>
</div>
<!-- <app-attacher 
    [srcImage]='"http://localhost:3000/attachments/imgUploader_1527836764676_hijo05.jpg"' 
    [id]='0'></app-attacher>
<app-attacher 
    (sendFileOut)='receivingData($event)' 
    [editionMode]='true' 
    [id]='1'></app-attacher> -->
