.question-container {
    /* height: 200px; */
    height: auto;
    width: 100%;
}
.question-text {
    background-color: #fff;
    width:100%;
    height: auto;
    border: none;
    padding: 4px 10px;
    resize: none;
    /* overflow-y: hidden; */
    box-sizing: border-box;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.container-imgs {
    display : block;
    margin: 10px 0;
    height: auto;
}

.option-img { 
    float: left;
    height: auto;
    margin-top: 10px;
}
