.question-container {
    height: 200px;
    height: auto;
    width: 100%;    
    border: solid 3px rgba(163,62,49,0.2);
    border-radius: 6px;
    padding: 2px;
    box-sizing: border-box;
    margin: 6px;
}

.question-container:hover {
    box-shadow: rgba(0,0,0,0.4) 1px 1px 20px 0px;
}

.text-question-cont {
    padding: 6px;
}

.question-container .container-imgs .intern-img-container:hover{
     background-color: rgba(163,62,49,0.6);
     border-radius: 4px;
}

.btn-rm-option {
    float: left;
    position: relative;    
    border-radius: 50%;    
    text-align: center;
    background-color: #ACBDD6;
    top: 5px;
    left: 65px;
    width: 22px;
    height: 22px;
    color: #fff;
    font-weight: 900;
    line-height: 12px;
}
.add-container {
    background-color: #e0e0e0;
    height: 102px !important;
    border-radius: 4px;
    width: 102px;
    margin-left: calc(50% - 50px);
}
.btn-add-option {
    background-color: #A33E31;
    color: #fff;
    font-weight: 900;
    float: left;
    position: relative;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center
}
.question-text {
    background-color: #fff;
    width:100%;
    height: auto;
    border: none;
    padding: 4px 10px;
    resize: none;
    /* overflow-y: hidden; */
    box-sizing: border-box;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.container-imgs {
    display : block;
    margin: 10px 0;
    height: 102px;
    width: 100%;
    box-sizing: border-box;
}
.intern-img-container{
    box-sizing: border-box;    
    min-width: 250px;
    float: left;
    margin-top: 5px;
}

.edit-border {
    border: dashed rgba(163,62,49,0.6) 1px;
}
.option-img { 
    float: left;
    height: auto;
    margin-top: 10px;
    box-sizing: border-box;
}

.selected-option {
    background-color: rgba(12, 134, 12,0.7) !important;    
}

.label-text-option {
    cursor: pointer;
    color: black;
}

.check-option{
    visibility: hidden;
    width: 0px;
}

.option-text {
    width: 200px;   
    /* modify here for option text */
    float: left;
    position: relative;    
    border-radius: 4px;
    background-color: #ACBDD6;
    height: auto;
    color: #fff; 
    padding: 6px; 
}

.div-editable {
    outline: 0;
    height: auto;
    width: auto;
    padding: 4px 4px;
    pointer-events: inherit;
}

.no-edit {
    pointer-events: none;
}

.div-editable:focus {
    outline: 2px dashed #000;
    background-color: #fff;
    white-space: pre;
}