<div class='question-container'>
    <div>{{loadedFileName}}</div>
    <div class="container-imgs">
        <div *ngFor="let option of question.options" >
            <div imgSpreadDirective class="option-img">
                <app-attacher
                    [srcImage]='option.attachment'                
                    (sendFileOut)='receivingData($event)' 
                    [editionMode]='true' [id]='option._id'>
                </app-attacher>            
            </div>
        </div>
    </div>
    <div>        
        <app-text-cuestion></app-text-cuestion>
    </div>
</div>
<!-- <app-attacher 
    [srcImage]='"http://localhost:3000/attachments/imgUploader_1527836764676_hijo05.jpg"' 
    [id]='0'></app-attacher>
<app-attacher 
    (sendFileOut)='receivingData($event)' 
    [editionMode]='true' 
    [id]='1'></app-attacher> -->
