<div class='question-container'>
    <div>{{loadedFileName}}</div>
    <app-optionChanger (closeEmitter)='onCloseOptionChangerReceiver($event)' [isVisible]='isChangingOption' [textInput]="currentOptionText"></app-optionChanger>
    <!-- <div>{{isOnEditMode}}</div> -->
    <div class="container-imgs">
        <div *ngFor="let option of question.options; let i = index" >
            <div class="intern-img-container" imgSpreadDirective [items]="getCounterOptions(isOnEditMode)">
                <button class="btn-rm-option" (click)="removeOption(i)">x</button>       
                <div class="option-img" >
                    <app-attacher
                        [srcImage]='getFullUrl(option.attachment)'                
                        (sendFileOut)='receivingData($event, i)'
                        [editionMode]='isOnEditMode' [id]='option._id'>
                    </app-attacher>            
                    <div class="option-text" [ngClass]='{"selected-option": isOptionSelected(i, option._id)}'>
                        <label for="{{option._id}}" class="label-text-option" (click)="changeOptionText(option.text, i)">
                            <app-text-cuestion (changeQuestion)='changeOptionTextReceive($event,i)' [questionText]='option.text' [editionMode]='isOnEditMode'></app-text-cuestion>
                            
                        </label>
                        <input id="{{option._id}}"                             
                            (change)="selectOption($event,i,option._id)"
                            name="{{question._id}}" 
                            type="radio" 
                            class="check-option">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isOnEditMode" class="intern-img-container">
            <div class="option-img add-container">
                <button class="btn-add-option"(click)="addNewOption()">+</button>
            </div>
        </div>
    </div>
    <!-- modify here -->
    <div>        
        <app-text-cuestion (changeQuestion)='changeQuestionReceive($event)' [questionText]='question.questionText' [editionMode]='isOnEditMode'></app-text-cuestion>
    </div>
</div>
<!-- <app-attacher 
    [srcImage]='"http://localhost:3000/attachments/imgUploader_1527836764676_hijo05.jpg"' 
    [id]='0'></app-attacher>
<app-attacher 
    (sendFileOut)='receivingData($event)' 
    [editionMode]='true' 
    [id]='1'></app-attacher> -->
