.text-q-container {
    height: auto; 
    width: 100%;
    font-size: 18px;
    font-style: italic;
    /* background-color: whitesmoke; */
}

.q-text-edit {
    width: 100%; 
    min-height: 48px; 
    display: inline-block;
    outline: 0;
}

.q-text-label {
    display: inline-block;
    height: auto; 
    width: 100%;
    /* background-color: aquamarine; */
}

.edit-font {
    /* border: dashed #000 1px; */
    color: #A33E31;
    font-weight: 600;
}

.no-edit {
    pointer-events: none;
}