<div class="text-q-container" [ngClass]="{'edit-font':editionMode}">
    <!-- modified to update the text question -->
    <!-- <textarea *ngIf="editionMode" (change)="changeQuestionTextArea($event)" growRowDirective [appHighlight]="'green'" class="q-text-edit" >{{questionText}}
    </textarea>
    <label *ngIf="editionMode==false" class="q-text-label">
        {{questionText}}        
    </label> -->

    <div 
        class="q-text-edit"
        fontChangeDirective
        [fontColor]="fontColor"
        [fontSize]="fontSize"
        [ngClass]="{'no-edit':!editionMode}"
        (focusout)="changeQuestionTextArea($event)"
        aria-multiline="true"
        contenteditable="plaintext-only">{{questionText}}</div>
</div>
