<div style="text-align:center">
  <div class='main-menu'>
    <div class='menu' (click)="showMenu()"></div>
    <div class='logo-class'></div>
    <div class='profile-menu' (click)="showProfile()"></div>
  </div>
  
</div>
<div class='main-container'>
  <div class='contact-list' *ngIf='menuStates.showLeft'>
    <app-menu-left></app-menu-left>
  </div>
  <div class='message-list' [ngClass]='{"width100": menuStates.showLeft===false}'>
    <app-questionary-component
      [isNew]='isNew'
      [cancelCreation]='cancelCreation'
      [questionaryLoad]='selectedQuestionary'></app-questionary-component>
  </div>
  <div class='profile-options' [ngClass]='{"profile-show": menuStates.showRight === true}'>
    <app-list-component (changeQuestionary)='quetionaryReceiver($event)' [questionaries]='questionaries'></app-list-component>
  </div>

</div>


