<div style="text-align:center">
  <div class='main-menu'>
    this is the main menu
    <div class='profile-menu' (click)="showProfile()">Menu</div>
  </div>
  
</div>
<div class='main-container'>
  <div class='contact-list'>
    <div *ngFor="let student of students.data">
      {{ student.firstname +' '+ student.lastname }}
    </div>
  </div>
  <div class='message-list'>
    
  </div>
  <div class='profile-options' [ngClass]='{"profile-show": visibleProfile === true}'>
    <app-list-component></app-list-component>
  </div>

</div>


