<div class="list-cdor">
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>
    <div class='item-list' *ngFor="let q of questionaries, let i = index">
        {{q.title}}
    </div>

</div>