<div>
  <div class="action-crud-container">
    <button class="action-test-btn" (click)="saveTest()">Add</button>
    <button class="action-test-btn" (click)="updateTest()">Update</button>
    <button class="action-test-btn" (click)="changeEditMode()">Edit</button>
  </div>
  <div class='questions-container height-width100'>    
      <div class='title-test width100' [ngClass]="{'edit-border':isOnEditMode}">
        <app-text-cuestion
          (changeQuestion)='changeTitleReceive($event)'
          [questionText]='questionary.title'          
          [fontSize]="22"
          [editionMode]='isOnEditMode'></app-text-cuestion>
      </div>

    <div class='student-name width100'>AlumnoName</div>
    
    <div class='question-list width100'>      
      <div class='question float-left width100' *ngFor="let question of questions, let i = index">
        <div class="rm-container-btn">
          <button class="rm-btn" (click)="removeQuestion(i)">X</button>
        </div>
        <app-question [question]='question' [isOnEditMode]='isOnEditMode'></app-question>
      </div>
    </div>
  </div>
  <div class="action-bottom-container">  
    <button class="action-test-btn" (click)="addQuestion()" style="margin-bottom: 10px;">+Question</button>
  </div>
</div>