
.questions-container {
  padding: 4px;
  box-sizing: border-box;
}
.title-test {
  height: 60px;
  font-weight: 450;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
}

.student-name {
  height: 30px;
}

.question-list {
  height: auto;
}

.question {
  height: auto;
  padding-top: 6px; 
  /* background-color: gold; */
  min-width: 180px;
  box-sizing: border-box;
  /* border: solid #000 0.3px; */
}

@media only screen and (max-width: 900px) {
  .question {
    
  }

}