
.questions-container {
  padding: 4px;
  box-sizing: border-box;
}

.action-crud-container {
  position: fixed;
  z-index: 100;
}

.action-crud-container .action-test-btn {
  height: 32px;
  width: auto;
  border-radius: 10px; 
  border: none;
  background-color: rgba(163,62,49,1);
  color:#fff;
}

.action-crud-container .action-test-btn:hover {
  background-color: #f0f0f0;
  /* font-weight: bold; */
  color: rgba(163,62,49,1);
  border: solid 1px rgba(163,62,49,1);
  cursor: pointer;
}

.action-bottom-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin-right: 16px;
}

.rm-container-btn {
  height: 0px;
}

.rm-btn {
  background-color: rgba(163,62,49,1);
  color: #fff;
  border-radius: 50%;
  font-weight: 800;
  border: none;
}

.rm-btn:hover {
  background-color: #f0f0f0;
  color: rgba(163,62,49,1);
  border: solid 1px rgba(163,62,49,1);
  cursor: pointer;
}

.action-bottom-container .action-test-btn {
  height: 32px;
  width: auto;
  border-radius: 10px; 
  border: none;
  background-color: rgba(163,62,49,1);
  color:#fff;
}

.action-bottom-container .action-test-btn:hover {
  background-color: #f0f0f0;
  /* font-weight: bold; */
  color: rgba(163,62,49,1);
  border: solid 1px rgba(163,62,49,1);
  cursor: pointer;
}

.title-test {
  height: 60px;
  font-weight: 450;
  font-size: 32px;
  /* line-height: 60px; */
  text-align: center;
  font-size: 22px;
}

.student-name {
  height: 30px;
}

.question-list {
  height: auto;
}

.question {
  height: auto;
  padding-top: 6px; 
  /* background-color: gold; */
  min-width: 180px;
  box-sizing: border-box;
  /* border: solid #000 0.3px; */
}

@media only screen and (max-width: 900px) {
  .question {
    
  }

}