.text-q-container {
    height: auto; 
    width: 100%;
    background-color: whitesmoke;
}

.q-text-edit {
    width: 100%; 
    height: 48px; 
    display: inline-block;
}

.q-text-label {
    display: inline-block;
    height: 20px; 
    width: auto;
}