<div class="text-q-container">
    <textarea style="width: auto; height: 100%; display: block;" *ngIf="editionMode"  growRowDirective [appHighlight]="'green'" class="question-text" >question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question 
          text to be filled question text to be filled
    </textarea>
    <label *ngIf="!editionMode" style="background-color: rebeccapurple; height: 20px; width: auto;"> hola qufyutfyutfuytfytufyufutfyfe tal</label>
</div>
