<div class="text-q-container">
    <textarea  *ngIf="editionMode"  growRowDirective [appHighlight]="'green'" class="q-text-edit" >question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question 
          text to be filled question text to be filled
    </textarea>
    <label *ngIf="editionMode" class="q-text-label">
        question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question 
        hola qufyutfyutfuytfytufyufutfyfe tal
        question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question text to be filled question 
    </label>
</div>
