/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.height-width100 {
  height: 100%;
  width: 100%;
}
.width100 {
  width: 100% !important;
}
.height100 {
  height: 100% !important;  
}

.pos-absolute {
  position: absolute;
}

.edit-border {
  border: dashed rgba(163,62,49,0.6) 1px;
}